PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/shopsavvy
CACHE_TTL_MINUTES=60
DARAZ_MODE=integration_pending
GEMINI_API_KEY=AQ.Ab8RN6L_gJE5-Wldltp_u00fPLmyzMMq0vsBWsJ8Xvebqxr6QA
GROQ_API_KEY=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